* {
    font-family: 'ppoppins';



}



body {
    font-family: 'poppins';
    background: #F5F5F5;
}

.navbar {

    width: 100%;
    height: 6.44rem;
    left: 0.375rem;
    top: 0.3125rem;
    background: #FEFFFF;
    box-shadow: 0px 0.625rem 1.25rem rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 8rem;
    box-sizing: border-box;
}


.logo {
    display: flex;

    width: 2.8rem;
    height: 2.8rem;
    left: 165px;
    top: 36px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 30.96px;
    line-height: 145.5%;
    letter-spacing: -0.065em;

    color: #3958A7;
}



.login-btn {

    width: 6.5rem;
    height: 2.4rem;
    left: 70.1rem;
    top: 2.63rem;
    color: #FFFFFF;
    border-color: #3958A7;
    background: #3958A7;
    border-radius: 0.312rem;
    font-weight: 500;
    line-height: 1.3rem;
    margin-right: 50px;
}



.infor{
    display: flex;
    justify-content: space-between;
    align-items: center;
}




.input-container{
    display: flex;
    width: 100%;
    
}

.input-field {
    width: 6.5rem;
    height: 2.44rem;
    left: 1100px;
    top: 40px;

    border: 1px solid #0134B7;
    border-radius: 4.9892px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px
}


.fa-circle-question{
    margin-top: 10px;
    margin-left: 20px;
}




/* section 1 styling for small media device starts here*/
.hero {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
    padding: 1rem
}

.hero-content {
    width: 100%;

}


.hero-image {

    position: absolute;
    width: 100%;
    height: 536px;
    left: 709px;
    top: 193px;

}


.hero-btn {
    position: absolute;
    width: 360px;
    height: 70px;
    left: 27px;
    top: 694px;
    background: rgba(1, 52, 183, 0.72);
    border-radius: 6.52041px;
    margin-left: 3%;
}


.hero-title {
    font-size: 2rem;
    position: relative;
    bottom: 60px;
    line-height: 70px;
    font-family: 'Poppins';
}


.hero-description {

    position: absolute;
    width: 557px;
    height: 165.31px;
    left: 40px;
    top: 564px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;

    font-size: 15.4961px;
    line-height: 23px;
    margin-left: 3%;
    margin-bottom: 10%;
    color: rgba(0, 0, 0, 0.65);
}



.hr {
    color: #FFFFFF;
    text-decoration: none;

}


#button {
    position: absolute;
    width: 320px;
    height: 70px;
    left: 27px;
    top: 694px;
    background: rgba(1, 52, 183, 0.72);
    border-radius: 6.52041px;
    margin-left: 2%;
}

.link2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #F9F9F9;
    margin-left: 10%;

}


                                        /* section 1 styling for small media device starts here*/

.slack {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

}


.slack-image {
    width: 100%;
}

.slack-content {
    width: 100%;
}
.item2 {
    position: absolute;
    width: 421px;
    height: 34px;
    left: 750px;
    top: 310px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;

    color: #2752BF;

}

.connecting {
    background: #F5F5F5;
}




.contact {

    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 1060px;
    height: 88px;
    left: 150px;
    top: 1300px;
    background: #F9F9F9;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.03);

}

.aa {
    position: absolute;
    width: 66px;
    height: 15px;
    left: 10%;
    top: 20%;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 145.5%;
    color: #000000;
    opacity: 0.38;
}

.bb {
    position: absolute;
    width: 88px;
    height: 18px;
    left: 10%;
    top: 35%;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.75);

    opacity: 0.22;
}

.cc {
    position: absolute;
    width: 98px;
    height: 15px;
    left: 40%;
    top: 20%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 145.5%;
    color: #000000;

    opacity: 0.38;
}

.dd {
    position: absolute;
    width: 95px;
    height: 18px;
    left: 40%;
    top: 35%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.75);
}

.ee {
    position: absolute;
    width: 74px;
    height: 15px;
    left: 75%;
    top: 20%;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 145.5%;
    color: #000000;

    opacity: 0.38;
}

.ff {
    position: absolute;
    width: 245px;
    height: 18px;
    left: 75%;
    top: 35%;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.75);

}


.qo {
    position: absolute;
    width: 66px;
    height: 269.53px;
    left: 650px;
    top: 170%;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 195.357px;
    line-height: 225px;

    color: rgba(14, 14, 14, 0.18);

    box-sizing: border-box;
}

.qc {
    position: absolute;
    width: 66px;
    height: 269.52px;
    left: 1150px;
    top: 300%;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 195.357px;
    line-height: 225px;

    color: rgba(14, 14, 14, 0.18);
    box-sizing: border-box;
}







.fa-phone {
    position: absolute;
    left: 8.33%;
    right: 8.331%;
    top: 8.33%;
    bottom: 30%;
    color: #0024A3;
    margin-top: 23px;
}

.fa-envelope {
    position: absolute;
    left: 8.33%;
    right: 8.33%;
    top: 16.67%;
    bottom: 16.67%;
    color: #0055A3;
    margin-left: 300px;
    margin-top: 23px;
 

}

.fa-location-dot {
 position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0.26%;
color: #0010A3;
margin-top: 30px;
margin-left: 780px;
}








/* Footer styling Starts here pls */

.social2{
    display: flex;
}





.footer-icon{
position: absolute;
width: 61px;
height: 36.12px;
left: 145px;
top: 1662px;
padding-top: 23px;
}

.footer-logo{
    position: absolute;
    width: 45px;
    height: 45px;
    left: 221px;
    top: 1658px;
    
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 30.963px;
    line-height: 145.5%;
    letter-spacing: -0.065em;
    color: #3958A7;
}

.facebook{
    position: absolute;
    width: 34.92px;
    height: 30.93px;
    right: 1320px;
    top: 1740px;
    color: #3958A7;  
}


.twitter{
position: absolute;
width: 34.5px;
height: 30.56px;
right: 1239.32px;
top: 1740px;
color: #3958A7;



}


.instagram{
position: absolute;
width: 34.5px;
height: 30.56px;
right: 1184.28px;
top: 1740px;
color: #3958A7;

}



.linkedin{
position: absolute;
left: 12.5%;
right: 12.5%;
top: 1740px;
bottom: 12.5%;
color: #3958A7;

}




#firm{position: absolute;
    width: 139.09px;
    height: 32.31px;
    left: 527px;
    top: 1650px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12.1147px;
    line-height: 18px;
    
    
    }


    #get-help{
        position: absolute;
        width: 116.65px;
        height: 32.31px;
        left: 908.37px;
        top: 1650px;

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 12.1147px;
        line-height: 18px;

       
    }



/* section 1 styling for larg media device starts here*/


@media (min-width: 1024px) {

    .hero {
        box-sizing: border-box;
        flex-wrap: nowrap;
        padding: 6rem
    }
}


.hero-content {
    width: 50%;
}


.hero-image {
    position: absolute;
    width: 50%;
    margin-top: 0rem;
    display: block;
    width: 500px;
    height: 500px;
    left: 745px;
    top: 193px;
}


.hero-title {

    position: absolute;
    width: 557px;
    height: 343px;
    left: 78px;
    top: 130px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 520;
    font-size: 64px;
    line-height: 70px;
    color: #000000;

}


.hero-description {

    position: absolute;
    width: 557px;
    height: 165.31px;
    left: 45px;
    top: 470px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 23px;
    color: rgba(0, 0, 0, 0.65);
}



#button {
    position: absolute;
    width: 360px;
    height: 70px;
    left: 27px;
    top: 600px;
    background: rgba(1, 52, 183, 0.72);
    border-radius: 6.52041px;
    margin-left: 2%;
}



.link2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #F9F9F9;
    margin-left: 10%;
}


.link-btn {
    color: #F9F9F9;

    text-decoration: none;

}




/* section 2 styling for larg media device starts here*/

.slack {
    position: absolute;
    width: 100%px;
    height: 642px;
    left: 0px;
    top: 700px;

    background: #EAE1100F;



}

.slack-image {
    width: 50%;
    position: absolute;
    width: 617px;
    height: 366px;
    left: 67px;
    top: 50px
}


.slack-content {
    width: 50%;
}


.slack-description {

    position: absolute;
    width: 557px;
    height: 165.31px;
    left: 750px;
    top: 150px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 23px;

    color: rgba(0, 0, 0, 0.65);
}

.item2 {
    position: absolute;
    width: 421px;
    height: 34px;
    left: 750px;
    top: 310px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;

    color: #2752BF;

}

.connecting {
    background: #F5F5F5;
}




.contact {

    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 1060px;
    height: 88px;
    left: 150px;
    top: 1300px;
    background: #F9F9F9;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.03);

}

.aa {
    position: absolute;
    width: 66px;
    height: 15px;
    left: 10%;
    top: 20%;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 145.5%;
    color: #000000;
    opacity: 0.38;
}

.bb {
    position: absolute;
    width: 88px;
    height: 18px;
    left: 10%;
    top: 35%;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.75);

    opacity: 0.22;
}

.cc {
    position: absolute;
    width: 98px;
    height: 15px;
    left: 40%;
    top: 20%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 145.5%;
    color: #000000;

    opacity: 0.38;
}

.dd {
    position: absolute;
    width: 95px;
    height: 18px;
    left: 40%;
    top: 35%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.75);
}

.ee {
    position: absolute;
    width: 74px;
    height: 15px;
    left: 75%;
    top: 20%;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 145.5%;
    color: #000000;

    opacity: 0.38;
}

.ff {
    position: absolute;
    width: 245px;
    height: 18px;
    left: 75%;
    top: 35%;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.75);

}


.qo {
    position: absolute;
    width: 66px;
    height: 269.53px;
    left: 650px;
    top: 170%;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 195.357px;
    line-height: 225px;

    color: rgba(14, 14, 14, 0.18);

    box-sizing: border-box;
}

.qc {
    position: absolute;
    width: 66px;
    height: 269.52px;
    left: 1150px;
    top: 300%;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 195.357px;
    line-height: 225px;

    color: rgba(14, 14, 14, 0.18);
    box-sizing: border-box;
}







.fa-phone {
    position: absolute;
    left: 8.33%;
    right: 8.331%;
    top: 8.33%;
    bottom: 30%;
    color: #0024A3;
    margin-top: 23px;
}

.fa-envelope {
    position: absolute;
    left: 8.33%;
    right: 8.33%;
    top: 16.67%;
    bottom: 16.67%;
    color: #0055A3;
    margin-left: 300px;
    margin-top: 23px;
 

}

.fa-location-dot {
 position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0.26%;
color: #0010A3;
margin-top: 30px;
margin-left: 780px;
}








/* Footer styling Starts here pls */

.social2{
    display: flex;
}





.footer-icon{
position: absolute;
width: 61px;
height: 36.12px;
left: 145px;
top: 1662px;
padding-top: 23px;
}

.footer-logo{
    position: absolute;
    width: 45px;
    height: 45px;
    left: 221px;
    top: 1658px;
    
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 30.963px;
    line-height: 145.5%;
    letter-spacing: -0.065em;
    color: #3958A7;
}

.facebook{
    position: absolute;
    width: 34.92px;
    height: 30.93px;
    right: 1320px;
    top: 1740px;
    color: #3958A7;  
}


.twitter{
position: absolute;
width: 34.5px;
height: 30.56px;
right: 1239.32px;
top: 1740px;
color: #3958A7;



}


.instagram{
position: absolute;
width: 34.5px;
height: 30.56px;
right: 1184.28px;
top: 1740px;
color: #3958A7;

}



.linkedin{
position: absolute;
left: 12.5%;
right: 12.5%;
top: 1740px;
bottom: 12.5%;
color: #3958A7;

}




#firm{position: absolute;
    width: 139.09px;
    height: 32.31px;
    left: 527px;
    top: 1650px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12.1147px;
    line-height: 18px;
    
    
    }

    


    #get-help{
        position: absolute;
        width: 116.65px;
        height: 32.31px;
        left: 908.37px;
        top: 1650px;

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 12.1147px;
        line-height: 18px;

       
    }


    